.about[data-v-444615b9]{padding:2rem}h1[data-v-444615b9]{margin-bottom:1rem}img[data-v-444615b9]{width:100%;max-width:600px;display:block;margin:0 auto 2rem;border-radius:8px}p[data-v-444615b9]{line-height:1.6}
