.about[data-v-5e48d998]{padding:2rem}h1[data-v-5e48d998]{margin-bottom:1rem}img[data-v-5e48d998]{width:100%;max-width:600px;display:block;margin:0 auto 2rem;border-radius:8px}p[data-v-5e48d998]{line-height:1.6}
